**/__history/
**/__recovery/
**/__astcache/
**/Debug/
**/Release/
**/Win32/
**/Win64/
*.local
*.identcache
*.res
*.otares
*.ico
*.rsp
*.stat
*.ddp
*.zip
*.7z
*.rar
*.exe
*.dex
*.bin
*.FDB
*.FBK
*.BPL
*.DCP
*.pkg
*.vlb
*.tvsconfig
*.~*

# Visual Studio garbage
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.orig
